.App{
  min-height: 100vh;
  background-image: linear-gradient(to right, #7c2b68 0%, #60a89b 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px ;
}
.search-button{
  border: none;
  padding: 10px 20px;
  color: white;
  background: darkgreen;
}
.recipes{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around ;
}